<ion-header>
  <ion-toolbar>
    <ion-title>Mi Aplicación</ion-title>
    <ion-buttons slot="end" *ngIf="isAuthenticated">
      <ion-button (click)="logout()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenido existente -->
  <div class="login-container">
    <mat-form-field appearance="outline" class="custom-item">
      <mat-label>Nombre de usuario</mat-label>
      <input matInput [(ngModel)]="username">
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-item">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" [(ngModel)]="password">
    </mat-form-field>

    <button mat-raised-button class="custom-button" (click)="login()">Iniciar sesión</button>
    <button mat-button class="clear-button" (click)="goToResetPassword()">Restablecer contraseña</button>
  </div>

  <div class="login-container">
    <button mat-stroked-button class="social-button">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Iniciar sesión con Facebook
    </button>

    <button mat-stroked-button class="social-button">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Iniciar sesión con Google
    </button>
  </div>

  <!-- Nuevos botones -->
  <div class="login-container">
    <button mat-raised-button class="custom-button" (click)="loginUser('ejemplo@email.com', 'password123')">
      Login y guardar usuario
    </button>
    <button mat-raised-button class="custom-button" (click)="getUsernameFromStorage()">
      Obtener usuario guardado
    </button>
    <button mat-raised-button class="custom-button" (click)="clearStorage()">
      Limpiar storage
    </button>
  </div>
</ion-content>
