<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input [(ngModel)]="title" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contenido</ion-label>
      <ion-textarea [(ngModel)]="body" rows="6"></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" (click)="createPost()">
      Crear Post
    </ion-button>
  </div>
</ion-content>
